.hero {
  position: relative;
  height: 320px;
  padding: 40px;
  color: white;
  background: linear-gradient(
    -45deg,
    #3f51b1 0%,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  );

  background-size: 400% 400%;
  background-position: 100%;
  animation: gradient 20s ease infinite;

  transform: skewY(-4deg);
  transform-origin: top left;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.rocket {
  width: 60px;
}

.company-name {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Shadows Into Light", cursive;
}

.header {
  font-size: 5rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
