@import "../components/hero/_style.scss";
@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap");
@import "../components/modal/_style.scss";

body {
  color: rgb(216, 102, 25);
  background: #262d35;
}

.main-subheader {
  padding: 60px;
}

.grid-card {
  max-width: 1700px;
  margin: 0 auto;
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, auto));
  gap: 20px;
}

.card {
  position: relative;
  border-radius: 5px;
  padding: 40px;
  box-shadow: -5px -5px 10px rgba(129, 129, 129, 0.3),
    6px 6px 12px rgba(17, 17, 17, 0.5);
  transition: 0.3s;
}

.card:hover {
  box-shadow: -2px -2px 4px rgba(99, 99, 99, 0.8),
    3px 3px 5px rgba(19, 19, 19, 0.8);
}

.card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bg-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 111px;
  background: rgb(34, 34, 34);
  border-radius: 5px 5px 0 0;
  z-index: -1;
}

.numOfMembers {
  color: hotpink;
  font-size: 2rem;
  padding: 0 10px;
}

.base-footer {
  padding: 20px;
  background: rgb(236, 236, 236);
  text-align: right;
}

img.avatar {
  border-radius: 50%;
  border: 4px solid rgb(63, 63, 63);
  filter: grayscale(1);
  transition: 0.3s;
}

.card:hover img.avatar {
  filter: grayscale(0);
}

.full-name {
  padding: 14px;
  padding-bottom: 8px;
  font-size: 1.1rem;
  font-weight: bold;
}

.job-title {
  font-size: 0.7rem;
}
